* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: rgba(100,125,225,0.1);
}

header {
	width: 100%;
	height: 4em;
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: blue;
	margin-left: 16px;
}

header ul {
	list-style-type: none;
	margin-right: 0;
	display: flex;
	gap: 16px;
	padding: 3px 16px;
}

ul li {
	flex: 1;
}

li a, li a:visited {
	text-decoration: none;
	font-weight: bolder;
	font-family: sans-serif;
}

li a:hover, li a:active {
	border-bottom: 2px solid blue;
}

form {
	width: 90%;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 16px;
}

input {
	font-size: 2em;
	padding: 10px;
	font-weight: bolder;
	color: rgb(100,100,200);
	flex: 1;
	border: 0;
	border-bottom: 2px solid blue;
	background-color: rgba(100,125,225,0.2);
}
input:focus, textarea:focus {
	border: 1px solid gray;
	background-color: white;
	color: gray;
}

textarea {
	height: 80vh;
	background-color: ;
	font-family: arial, sans-serif;
	font-size: 1.5em;
	padding: 20px 10px;
	border: 0;
	background-color: rgba(100,125,225,0.2);
	color: rgb(100,100,200);
}

.buttons {
	display: flex;
	gap: 32px;
	justify-content: center;
	margin-top: 8px;
}
	
button {
	color: white;
	background-color: blue;
	padding: 8px 10px;
	border-radius: 2px;
	border: 0;
	font-size: 18px;
	font-weight: bolder;
	font-family: sans-serif;
}

.additional {
	display: none;
	width: 100%;
	height: 80vh;
	margin: 4px 18px;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.page {
	width: 80%;
	height: 100%;
	font-family: roboto;
	display: none;
}

.page h1 {
	margin: 1em 0;
	font-weight: bold;
	font-size: 32px;
}

.page p {
	line-height: 1.5;
	font-size: 18px;
}